<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		  href="../resources/css/style2.css">
</head>
<body>
<a href="/funcionarios/index.html">Voltar</a>
<div id="cadastro">
		<div id="inicio" class="container-fluid table" >
			<h4>Cadastro de funcionário</h4>
			<p>Implementar o cadastro de funcionários</p>	
			<p>{{id}}</p>
	  	</div>
		<form @submit.prevent="clickSave()" ref="form">
			<input type="text" id="id" name="id" v-model="form.id" hidden>
			<label for="nome">Nome:</label>
			<input type="text" id="nome" name="nome" v-model="form.nome" required>
			<br>
			<label for="setor">Setor:</label>
			 <select class="form-control" v-model="form.setor">
			    <option v-for="option in setores" v-bind:value="option.id" >{{ option.nome }}</option>
			 </select>
			<br>
			<label for="salario">Salário:</label>
			<input type="number" id="salario" name="salario" v-model="form.salario"  required>
			<br>
			<label for="email">E-mail:</label>
			<input type="email" id="email" name="email" v-model="form.email" required>
			<br>
			<label for="idade">Idade:</label>
			<input type="number" id="idade" name="idade" v-model="form.idade" required>
			<br>
			<button type="submit" class="btn btn-success">Salvar</button>
	</form>	
	
</div>
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>
</html>