@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --primary-color: #428BCA;
    --secondary-color: #F5F5F5;
    --light-color: #fff;
    --dark-color: #333;
}

body {
    background-color: var(--light-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin-top: 50px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

a { 
	font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: var(--light-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
}

tr:hover {
    background-color: var(--secondary-color);
}

span {
    cursor: pointer;
    margin-right: 10px;
}

span:hover {
    color: var(--primary-color);
}

form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}


form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #306B8E;
}

#app {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--light-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}
